<!DOCTYPE html>
<html>

<head>
    <title>Hostel & PG Management - Login</title>
</head>

<body>

    <h1>Hostel & PG Management System</h1>

    <h2>Login</h2>

    <form method="POST" action="/login">

        <label>Username:</label><br>
        <input type="text" name="username" required>

        <br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required>

        <br><br>

        <label>Login As:</label><br>

        <select name="role">

            <option value="admin">
                Admin / Warden
            </option>

            <option value="student">
                Student
            </option>

        </select>

        <br><br>

        <button type="submit">
            Login
        </button>

    </form>

</body>

</html>