<!DOCTYPE html>
<html>

<head>
    <title>Student Dashboard</title>
</head>

<body>

    <h1>Hostel & PG Management System</h1>

    <h2>Student Dashboard</h2>

    <hr>

    <h3>Welcome, Student!</h3>

    <br>

    <button>My Profile</button>

    <button>My Room</button>

    <button>Fee Status</button>

    <button>Complaints</button>

    <button>Leave Request</button>

    <br><br>

    <a href="/sos">
    <button>SOS / Emergency Help</button>
</a>

    <br><br>

    <a href="/">
        <button>Logout</button>
    </a>

</body>

</html>